body {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
}


.pictures {
    grid-column: 2/3;
    display: flex;
    margin-top: 50%;
}


.searchHeader {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 100%;
}

